.hero-section {
    /* background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/backgrounds/luxury-transfer-back.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--white);
    padding: 120px 0 80px;
    position: relative;
    overflow: hidden;
}
